@font-face {
    font-family: "Rubik Regular";
    src: url("../../../public/fonts/Rubik/Rubik-Regular.ttf") format("truetype");
}
@font-face {
    font-family: "Rubik Medium";
    src: url("../../../public/fonts/Rubik/Rubik-Medium.ttf") format("truetype");
}
@font-face {
    font-family: "Rubik Bold";
    src: url("../../../public/fonts/Rubik/Rubik-Bold.ttf") format("truetype");
}

.container{
    width: 100%;
    padding: 0 5%;
    box-sizing: border-box;
    margin-top: 100px;
}

.wrapper{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin-top: 30px;
}
.loading{
    width: 100%;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Rubik Medium";
}

.flex{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 15px;
}
.link{
    color: black;
    font-family: "Rubik Regular";
}