@font-face {
    font-family: "Rubik Regular";
    src: url("../../public/fonts/Rubik/Rubik-Regular.ttf") format("truetype");
}
@font-face {
    font-family: "Rubik Medium";
    src: url("../../public/fonts/Rubik/Rubik-Medium.ttf") format("truetype");
}
@font-face {
    font-family: "Rubik Bold";
    src: url("../../public/fonts/Rubik/Rubik-Bold.ttf") format("truetype");
}
.universities{
    margin-top: 50px;
    width: 100%;
    padding: 0 5%;
    box-sizing: border-box;
}
.loading{
    width: 100%;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Rubik Medium";
}
.wrapper{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin-top: 30px;
    justify-content: space-between;
}