@font-face {
    font-family: "Rubik Regular";
    src: url("../../../public/fonts/Rubik/Rubik-Regular.ttf") format("truetype");
}
@font-face {
    font-family: "Rubik Medium";
    src: url("../../../public/fonts/Rubik/Rubik-Medium.ttf") format("truetype");
}
@font-face {
    font-family: "Rubik Bold";
    src: url("../../../public/fonts/Rubik/Rubik-Bold.ttf") format("truetype");
}

.container{
    width: 100%;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    position: relative;
}
.img{
    position: absolute;
    left: -53px;
    height: 48px;
    width: 48px;
    margin-right: 5px;
}
.title{
    font-size: 32px;
    font-family: "Rubik Bold";
}

@media screen and (max-width: 761px){
    .img{
        position: static;
    }
    .title{
        font-size: 28px;
    }
}